---
layout: default
---

{% assign en_posts = site.posts | where: "lang", "en" %}
{% for post in en_posts %}
<section class="post">
  <header class="post-header">
    <p class="post-meta">
      <span class="post-date">
        {{ post.date | date: "%-d %b %Y" | upcase }}
      </span>
      {% include cat_and_tag.html hide-cat=site.collection.categories.hide-on-post btn-cat=site.collection.categories.btn-on-post hide-tag=site.collection.tags.hide-on-post btn-tag=site.collection.tags.btn-on-post detail=post %}
    </p>
    <h4>
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="post-title" title="{{ post.title | escape }}">{{ post.title }}</a>
      {% if post.link %}
      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
      {% endif %}
    </h4>
  </header>
</section>
{% endfor %}
